@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
  font-family: 'Genericons';
  src: url('fonts/genericons-regular-webfont.woff')format('woff'), url('fonts/genericons-regular-webfont.eot')format('truetype')
}

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  background: rgb(25,34,49);
  color: #fff;
  margin: 0;
  padding: 0;
}

hr {
  width: 80%;
}

/* Nav bar */
.navbar {
  left: 0;
  top: 0;
  background-color: #192231;
  overflow: hidden;
  height: 40px;
  text-align: right;
  position: fixed;
  width: 100%;
  z-index: 2;
  opacity: 0.9;
}

.navbar li {
  display: inline-block;
  font-weight: 650;
}

.navbar a {
  color: #fff;
  text-align: center;
  padding: 2px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 8px;
}

.navbar ul {
  margin: 10px 0 8px 0;
  list-style: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: #000;
}

.side-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #192231;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  max-width: 170px;
}

.side-menu a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 22px;
  color: #98878f;
  display: block;
  transition: 0.3s;
}

.side-menu a:hover {
  color: #fff;
}

.side-menu .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

/* Showcase */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 3rem;
  opacity: 0.85;
  background: url('imgs/showcase4.jpeg') no-repeat center center / cover;
}

.container h1 , h2 {
  color: #fff;
  /* opacity: 0.9; */
  font-weight: 200;
  margin: 0.4rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 500;
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #98878f;
}

/* about section */
.container-about {
  height: 480px;
  display: flex;
  background: #192231;
}

.container-about .image {
  padding: 25px;
  justify-content: center;
  text-align: center;
  transform: rotate(270deg);
  margin-left: 80px;
}

.container-about img {
    border-radius: 50%;
}

.container-about .blurb {
  /* display: run-in; */
  margin-top: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-right: 20px;
  color: #fff;
}

.container-about .blurb h3 {
  font-size: 1.6rem;
}

.container-about .blurb p {
  font-size: 1.2rem;
}

/* Portfolio */
.top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pen-link a img {
  width: 100%;
  height: 100%;
  transition: transform .2s; /* Animation for zoom on hover  */
}

.pen-link a img:hover {
  opacity: 0.8;
  transform: scale(1.2); /* Set zoom level on hover */
}

/* Services */
.container-services {
  margin: auto;
  padding: 2rem 1rem;
  color: #fff;
  background: #192231;
}

.container-services h2 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 38px;
  font-weight: 580;
  text-decoration: underline;
  letter-spacing: 2px;
}

.skills i {
  margin-bottom: 12px;
}

.skills {
  width: 100%;
}

.skills h3 {
  padding: 15px;
  margin-bottom: 15px;
  font-size: 1.3rem;
  text-decoration: underline;
}

.skills span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.center {
  text-align: center;
  margin: auto;
}

/* Contact and accordion */
.container-contact {
  color: #fff;
  background: #192231;
  /* background: #98878f; */
  height: 200px;
}

.container-contact h2 {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 38px;
  font-weight: 580;
  text-decoration: underline;
  letter-spacing: 2px;
}

.container-contact .contact-details {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
}

.email {
  display: flex;
}

.email i {
  margin: auto;
  margin-right: 15px;
}

.email p {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.tel {
  display: flex;
}

.tel i {
  margin: auto;
  margin-right: 15px;
}

.tel p {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1.5px;
}

/* accordion */
.soc-follow {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 38px;
  font-weight: 580;
  text-decoration: underline;
  letter-spacing: 2px;
}

.soc-links {
  margin: 50px auto;
  width: 90%;
}
.accordion {
  margin: 50px auto;
  background: #333;
  width: 200px;
  min-width: 900px;
  display: block;
  list-style-type: none;
  /* overflow: hidden; */
  height: 200px;
  font-size: 0;
}

.tab {
  display: inline-block;
  background-color: #444;
  border-right: #333 solid 1px;
  width: 80px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover {
  width: 450px;
}

.tab:hover .social a:before {
  margin-left: -100px;
}

.tab:hover .social a:after {
  margin-left: -5px;
}

.tab .content {
  background: #fff;
  width: 360px;
  height: 200px;
  margin-left: 80px;
  position: relative;
  padding: 50px 0 0 15px;
  color: #000;
}

.tab .content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.tab .content p {
  font-size: 0.85rem;
  line-height: 1.4rem;
  padding-right: 30px;
}

.social a:before,
.social a:after {
  transition: all 0.4s ease-in-out 0.1s;
  width: 80px;
  height: 200px;
  position: absolute;
  text-indent: 0;
  padding-top: 90px;
  padding-left: 25px;
  display: block;
  font: normal 30px Genericons;
  color: #fff;
}

.social a:after {
  font-size: 48px;
  padding-left: 20px;
  padding-top: 80px;
  margin-left: 85px;
}

/* Add Icon */
.youtube a:before,
.youtube a:after {
  content: '\f213'
}

.youtube a:after {
  background-color: #ff0000;
}

.twitter a:before,
.twitter a:after {
  content: '\f202'
}

.twitter a:after {
  background-color: #6dc5dd;
}

.facebook a:before,
.facebook a:after {
  content: '\f204'
}

.facebook a:after {
  background-color: #3b5998;
}

.linkedin a:before,
.linkedin a:after {
  content: '\f208'
}

.linkedin a:after {
  background-color: #00a9cd;
}

.instagram a:before,
.instagram a:after {
  content: '\f215'
}

.instagram a:after {
  background-color: #6dc993;
}

.github a:before,
.github a:after {
  content: '\f200'
}

.github a:after {
  background-color: #6e5494;
}
/*
@media(max-width: 950px) {
  .soc-links {
    width: 70%;
    }
    .tab {
      display: block;
      width: 100%;
      border-bottom: 3px #333 solid;
    }
    .accordion {
      display: block;
      min-width: 450px;
      height: auto;
    }
    .tab .content {
      width: 85%;
    }

    .tab:hover {
      width: 100%;
    }
}

@media(max-width: 680px) {
  .soc-links {
    width: 95%;
  }
  .accordion {
    width: 100%;
    min-width: 350px;
  } */

/* Footer */
footer {
  background: #98878f;
  height: 70px;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}


@media(min-width: 1200px){
  h1 {
    font-size: 5rem;
  }
}

@media(max-width: 800px) {
  h1{
    font-size: 3rem;
  }

  h2 {
    color: #fff;
    font-weight: 550;
  }

  .container {
    padding: 0 1rem;
  }
}



@media(max-width: 568px) {
  h1 {
    font-size: 2.5rem;
  }
  .navbar-nav {
  display: none;
}

  h2 {
    font-size: 1.5rem;
  }
  .container-about {
    margin-top: -40px;
  }
}

@media (min-width: 568px) {
  .open-slide {
    display: none;
  }
  .container-about {
    margin-top: -40px;
  }
}
